<section class="odoo_container">
    <div class="odoo_row odoo_spaced">
        <h2 style="color:#875A7B;">Datepicker Disable Autocomplete</h2>
				<p>For everyone</p>
        <div class="odoo_demo odoo_picture odoo_screenshot">
            <img src="screenshot.png">
        </div>
    </div>
</section>

<section class="odoo_container odoo_separator">
</section>

<section class="odoo_container">
    <div class="odoo_row odoo_spaced">
        <div class="odoo_span6">
            <div class="odoo_picture" style="margin: 25px 10%;">
                <a href="http://www.fb.com/hh.quan98">
                    <img src="logo_banner.png">
                </a>
            </div>
        </div>
        <div class="odoo_span6">
            <p class="odoo_mt32">
                If you need any help <br> please contact us:<br>
                Email: <a href="mailto:hongquanvn1998@gmail.com">hongquanvn1998@gmail.com</a> <br>
                Website: <a href="http://www.fb.com/hh.quan98" target="new"><u>Hoang Quan</u></a> <br>
            </p>
        </div>
    </div>
</section>